#root {
  /*background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #404040;
  font-weight: 400;
  */
}
.ChernofflingCreator {
  padding-top: 20px;
}
.ChernofflingCreator h1, .ChernofflingCreator h2  {
  font-weight: 400;
}
.CreatorTitle {
  position: absolute;
  top: 70px;
  left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}
.SettingsTitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}
.ChernofflingCreator {
  margin: 100px auto;
  width: 50%;
}
.ChernofflingCreator__content {
  display: flex;
}
.ChernofflingCreator__content > *{
  flex: 1;
  padding: 20px;
}
.ChernofflingCreator__settings {

}
.ChernofflingCreator__chernoffling {
  display: flex;
  vertical-align: center;
  align-items: center;
}
.ChernofflingCreator__chernoffling > * {
  
}