.App {
  text-align: center;
  position: relative;
}
.App__title {
  position: fixed;
  z-index: 10000000;
  width: 100%;
  top: 30px;
  text-align: left;
  left: 40px;
}
.App__about {
  position: fixed;
  z-index: 10000000;
  top: 30px;
  right: 40px;
  border: 1px solid red;
  border:  1px solid #333333;
  padding: 3px;
  color: #333333
}
.App__about:hover {
  text-decoration: none;
  color: #333333;
  opacity: .8;
}

.App__hashtag {
  position: fixed;
  z-index: 10000000;
  left: 40px;
  bottom: 20%;
  font-size: 2.5em;
}
.App__showing {
  position: fixed;
  z-index: 10000000;
  left: 40px;
  bottom: 15%;
}
.App__loading {
  padding-top: 10%;
}
@media (max-width: 780px) {
  .App__title {
    top: unset;
    bottom: 220px;
    text-align: left;
    font-size: 1.8rem;
    left: 15px;
  }
  .App__about {
    top: unset;
    right: 15px;
    bottom: 230px;

  }

  .App__hashtag {
    font-size: 1.2rem;
    left: 15px;
    bottom: 190px;
  }
  .App__showing {
    left: 15px;
    bottom: 150px;
  }
  
} 