.App {
  text-align: center;
  position: relative;
}
.App__title {
  position: fixed;
  z-index: 10000000;
  width: 100%;
  top: 30px;
  text-align: left;
  left: 40px;
}
.App__hashtag {
  position: fixed;
  z-index: 10000000;
  left: 40px;
  bottom: 20%;
  font-size: 2.5em;
}
.App__showing {
  position: fixed;
  z-index: 10000000;
  left: 40px;
  bottom: 15%;
}
.App__loading {
  padding-top: 10%;
}
@media (max-width: 780px) {
  .App__title {
    top: unset;
    bottom: 220px;
    text-align: left;
    left: 15px;
    font-size: 1.8rem;
  }
  .App__hashtag {
    font-size: 1.2rem;
    left: 15px;
    bottom: 190px;
  }
  .App__showing {
    left: 15px;
    bottom: 150px;
  }
  
} 