.Chernoffling {
  position: relative;
  width: 100%;
}
/* Hack to make Chernofflings Canvas 1:1; */
.Chernoffling:before {
  content: "";
  display: block;
  padding-top: 100%;  
}
.Chernoffling__svg {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
