.Tweet {
  background-color: black;
  color: white;
  position: relative;
  padding: 0;
}
.Tweet + .Tweet  {
  margin-top: 1em;
}
.Tweet > img {
  position: absolute;
  left: 0;           
  width: 80px;
  height: 80px;
}
.Tweet__content {
  margin: 0;
  text-align: left;
  padding: .5em;
  padding-left: 100px;
  min-height: 80px;
  max-width: 400px;
}
.Tweet__Chernoffling {
  background: white;
  position: absolute;
  left: 0;           
  top: 80px;           
  width: 80px;
  height: 80px; 
}
.Tweet__Chernoffling .Chernoffling svg{
  z-index: 1;
}
