.MapGridElement {
  position : absolute;
  border : 1px dotted rgba(128, 128, 128, 1);
  transition: opacity 1s ease-in-out;
}
.MapGridElement:hover {
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}
.MapGridElement span{
  display: none;
}
.MapGridElement:hover span{
  display: inline;
}
.MapGridElement__number {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}