.Tweetlist {
  padding: 10px;
  margin: 0 auto;
  width: 768px;
  background: rgba(0, 0, 0, .5);
  min-height: 200px;
}
.Tweetlist__tweet {
  background-color: black;
  color: white;
  position: relative;
}
.Tweetlist__tweet > img {
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
}
.Tweetlist__tweet > p {
  text-align: left;
  padding-left: 100px;
  min-height: 80px
}
