.Nav {
  position: fixed;
  left: 40px;
  bottom: 30px;
  background-color: #1c1c22;
  margin: 0;  
  text-align: left;
}
.Nav__showGrid  a {
}
.Nav__showGrid  a.active {
  cursor: default;
  background-color: rgba(255, 255, 255, .2)
}
