.Nav {
  position: fixed;
  left: 40px;
  bottom: 30px;
  margin: 0;  
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}
.Nav__showGrid  a {
}
.Nav__showGrid  a.active {
  cursor: default;
  background-color: rgba(255, 255, 255, .2)
}
.Nav .btn {
  background: transparent;
  border: 1px solid #4c4c4c;
  padding: 4px 10px;
  border-radius: 0;
}